_LEARNING-CIRCLE-24 PROJECT_

<h2> Learning-Circle-24 </h2> <p>  Contributors </p>

Analyzing the Chicago crime dataset involves examining various aspects of the data to understand patterns, trends, and characteristics of criminal activities in Chicago. We perform analysis using Python, pandas and visualization libraries using the following steps:

1. Load the Dataset: Load the Chicago crime dataset into a DataFrame.
2. Explore the Dataset: Examine the structure, columns, and basic statistics of the dataset.
3. Data Cleaning: We dropped redundant columns and handle missing values.
4. Visualize Data Distribution: Visualize the distribution of variables using histograms, box plots, or density plots.
5. Identify Outliers: Detect and handle outliers that may affect the analysis.
6. Investigate Relationships: Look for relationships between variables using scatter plots, correlation matrices, or pair plots
7. Investigate Crime Types: Analyze the distribution of different types of crimes.
8. Examine Crime Locations: Investigate the distribution of crimes across different locations.
9. Identify Hotspots: Identify areas with high crime rates.
10. Detect Seasonal Patterns: Look for seasonal patterns or variations in crime rates.
11. Compare Crime Rates: Compare crime rates across different categories such as day of the week, time of day, and month.
12. Summarize and Visualize Insights: Summarize and Visualize the key insights and findings from the analysis using plots and charts.

In [1]:
import pandas as pd

In [2]:
# Set display option 
pd.set_option('display.max.columns', None)

# 1. Loading the dataset

In [3]:
# Load the dataset
chicago_crime_df= pd.read_csv('./dataset/crime_data_chicago.csv')

# 2. Explore the dataset

In [4]:
#checking the dimensions
chicago_crime_df.shape

(2278726, 23)

In [5]:
# Display the first five rows of the dataset
chicago_crime_df.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,0,6407111,HP485721,07/26/2008 02:30:00 PM,085XX S MUSKEGON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,423,4.0,10.0,46.0,14,1196638.0,1848800.0,2008,02/28/2018 03:56:25 PM,41.739980,-87.555120,"(41.739979622, -87.555120042)"
1,1,11398199,JB372830,07/31/2018 10:57:00 AM,092XX S ELLIS AVE,143C,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,False,413,4.0,8.0,47.0,15,1184499.0,1843935.0,2018,08/07/2018 04:02:59 PM,41.726922,-87.599747,"(41.726922145, -87.599746995)"
2,2,5488785,HN308568,04/27/2007 10:30:00 AM,062XX N TRIPP AVE,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,True,False,1711,17.0,39.0,12.0,05,1146911.0,1941022.0,2007,02/28/2018 03:56:25 PM,41.994138,-87.734959,"(41.994137622, -87.734959049)"
3,3,11389116,JB361368,07/23/2018 08:55:00 AM,0000X N KEELER AVE,0560,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,False,1115,11.0,28.0,26.0,08A,1148388.0,1899882.0,2018,07/30/2018 03:52:24 PM,41.881217,-87.730590,"(41.881217483, -87.730589961)"
4,4,12420431,JE297624,07/11/2021 06:40:00 AM,016XX W HARRISON ST,051A,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,1231,12.0,27.0,28.0,04A,1165430.0,1897441.0,2021,07/18/2021 04:56:02 PM,41.874174,-87.668082,"(41.874173691, -87.668082118)"

In [6]:
 # Display column information and data types
chicago_crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278726 entries, 0 to 2278725
Data columns (total 23 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   ID                    int64
 2   Case Number           object
 3   Date                  object
 4   Block                 object
 5   IUCR                  object
 6   Primary Type          object
 7   Description           object
 8   Location Description  object
 9   Arrest                bool
 10  Domestic              bool
 11  Beat                  int64
 12  District              float64
 13  Ward                  float64
 14  Community Area        float64
 15  FBI Code              object
 16  X Coordinate          float64
 17  Y Coordinate          float64
 18  Year                  int64
 19  Updated On            object
 20  Latitude              float64
 21  Longitude             float64
 22  Location              object
dtypes: bool(2), float64(7), int64(4), object(10)
memory usage: 369.4+ MB

In [7]:
# Display summary statistics of numerical columns
chicago_crime_df.describe()

,Unnamed: 0,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,2.278726e+06,2.278726e+06,2.278726e+06,2.278714e+06,2.094031e+06,2.094459e+06,2.254741e+06,2.254741e+06,2.278726e+06,2.254741e+06,2.254741e+06
mean,1.139362e+06,6.882068e+06,1.186442e+03,1.129072e+01,2.272764e+01,3.752140e+01,1.164569e+06,1.885747e+06,2.009638e+03,4.184209e+01,-8.767161e+01
std,6.578117e+05,3.419168e+06,7.026836e+02,6.946692e+00,1.383464e+01,2.153282e+01,1.673955e+04,3.209855e+04,6.019724e+00,8.830434e-02,6.073538e-02
min,0.000000e+00,6.370000e+02,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01
25%,5.696812e+05,3.716076e+06,6.210000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152948e+06,1.859053e+06,2.004000e+03,4.176866e+01,-8.771379e+01
50%,1.139362e+06,6.885990e+06,1.034000e+03,1.000000e+01,2.300000e+01,3.200000e+01,1.166060e+06,1.890673e+06,2.009000e+03,4.185578e+01,-8.766597e+01
75%,1.709044e+06,9.887568e+06,1.731000e+03,1.700000e+01,3.400000e+01,5.700000e+01,1.176365e+06,1.909219e+06,2.014000e+03,4.190668e+01,-8.762823e+01
max,2.278725e+06,1.278199e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.022000e+03,4.202291e+01,-8.752453e+01

# 3. Data Cleaning

__1. Use a funtion to Drop redundant columns (a redundant colum is one that gives infromation that another column already explains: eg ID and Case number)__

In [8]:
# Dropping redundant columns
def drop_redundant_columns(df):
    redundant_columns = ['Unnamed: 0','Case Number', 'Location','Updated On','X Coordinate','Y Coordinate','Community Area','IUCR']
    df.drop(redundant_columns, axis=1, inplace= True)

In [9]:
drop_redundant_columns(chicago_crime_df)

__Reasons for dropping the above columns__
- 'Unnamed: 0': Its just an index for individual row
- 'Case Number': Unique case identifier for the record which is redundant due to the presence of 'ID'
- 'Location': This is where the incident occurred in a format that allows for creation of maps and other geographic operation. It's the combination of both latitude and longitude feature of this dataset thus, not required.
- 'Updated On': Holds the date and time the record was last updated.Which is not required for our analysis.
- 'X Coordinate': The x coordinate is a shifted location from the actual location for partial redaction but falls on the same block. Since we have a longitude/latitude and the block where the crime happened, we can neglect this feature.
- 'Y Coordinate': The y coordinate is a shifted location from the actual location for partial redaction but falls on the same block. Since we have a longitude/latitude and the block where the crime happened, we can neglect this feature.
- 'Community Area': This indicates the community area where the incident occurred. Which is not neccessary for our analysis.
- 'IUCR': This is the Illinois Unifrom Crime Reporting code. This is directly linked to the Primary Type and Description, it provides information about the primary type and description of crime. Since primary type and description features already exist, it becomes a redundant column

In [10]:
chicago_crime_df.head()

,ID,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,FBI Code,Year,Latitude,Longitude
0,6407111,07/26/2008 02:30:00 PM,085XX S MUSKEGON AVE,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,423,4.0,10.0,14,2008,41.739980,-87.555120
1,11398199,07/31/2018 10:57:00 AM,092XX S ELLIS AVE,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,False,413,4.0,8.0,15,2018,41.726922,-87.599747
2,5488785,04/27/2007 10:30:00 AM,062XX N TRIPP AVE,BURGLARY,FORCIBLE ENTRY,RESIDENCE,True,False,1711,17.0,39.0,05,2007,41.994138,-87.734959
3,11389116,07/23/2018 08:55:00 AM,0000X N KEELER AVE,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,False,1115,11.0,28.0,08A,2018,41.881217,-87.730590
4,12420431,07/11/2021 06:40:00 AM,016XX W HARRISON ST,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,1231,12.0,27.0,04A,2021,41.874174,-87.668082

## Handling missing values

In [11]:
chicago_crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278726 entries, 0 to 2278725
Data columns (total 15 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Date                  object
 2   Block                 object
 3   Primary Type          object
 4   Description           object
 5   Location Description  object
 6   Arrest                bool
 7   Domestic              bool
 8   Beat                  int64
 9   District              float64
 10  Ward                  float64
 11  FBI Code              object
 12  Year                  int64
 13  Latitude              float64
 14  Longitude             float64
dtypes: bool(2), float64(4), int64(3), object(6)
memory usage: 230.4+ MB

In [12]:
#statistics for each column
chicago_crime_df.describe(include='all')

,ID,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,FBI Code,Year,Latitude,Longitude
count,2.278726e+06,2278726,2278726,2278726,2278726,2275849,2278726,2278726,2.278726e+06,2.278714e+06,2.094031e+06,2278726,2.278726e+06,2.254741e+06,2.254741e+06
unique,NaN,1343546,54347,35,515,198,2,2,NaN,NaN,NaN,26,NaN,NaN,NaN
top,NaN,01/01/2008 12:01:00 AM,100XX W OHARE ST,THEFT,SIMPLE,STREET,False,False,NaN,NaN,NaN,06,NaN,NaN,NaN
freq,NaN,81,4878,479375,268418,590957,1675252,1965311,NaN,NaN,NaN,479375,NaN,NaN,NaN
mean,6.882068e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.186442e+03,1.129072e+01,2.272764e+01,NaN,2.009638e+03,4.184209e+01,-8.767161e+01
std,3.419168e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.026836e+02,6.946692e+00,1.383464e+01,NaN,6.019724e+00,8.830434e-02,6.073538e-02
min,6.370000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.110000e+02,1.000000e+00,1.000000e+00,NaN,2.001000e+03,3.661945e+01,-9.168657e+01
25%,3.716076e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.210000e+02,6.000000e+00,1.000000e+01,NaN,2.004000e+03,4.176866e+01,-8.771379e+01
50%,6.885990e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.034000e+03,1.000000e+01,2.300000e+01,NaN,2.009000e+03,4.185578e+01,-8.766597e+01
75%,9.887568e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.731000e+03,1.700000e+01,3.400000e+01,NaN,2.014000e+03,4.190668e+01,-8.762823e+01
max,1.278199e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.535000e+03,3.100000e+01,5.000000e+01,NaN,2.022000e+03,4.202291e+01,-8.752453e+01

In [13]:
# checking missing value count
chicago_crime_df.isnull().sum()

ID                           0
Date                         0
Block                        0
Primary Type                 0
Description                  0
Location Description      2877
Arrest                       0
Domestic                     0
Beat                         0
District                    12
Ward                    184695
FBI Code                     0
Year                         0
Latitude                 23985
Longitude                23985
dtype: int64

In [14]:
# # Missing Values

# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [15]:
missing_values_table(chicago_crime_df)

Your selected dataframe has 15 columns.
There are 5 columns that have missing values.

                      Missing Values  % of Total Values
Ward                          184695                8.1
Latitude                       23985                1.1
Longitude                      23985                1.1
Location Description            2877                0.1
District                          12                0.0

- __Handling Missing values for the District Column__

We have just 12 missing value for the district column which is 0.0% of the entire dataset. We can decide to drop the row where location decription is missing or fill this row with the most crime location.

In [ ]:
# dropping the missing district column null value
# chicago_crime_df.dropna(subset=['District'],inplace=True)

In [16]:
chicago_crime_df.District.unique()

array([ 4., 17., 11., 12.,  2., 15., 25., 14.,  8.,  6., 19.,  1.,  7.,
       20., 18.,  3.,  9., 22.,  5., 16., 10., 24., 31., nan])

In [17]:
# Using the mode to fill up the most common district, then replace it with the current district column
most_fq_district = chicago_crime_df.District.mode()[0] # indexing the mode to get the value as it returns a series
chicago_crime_df.District = chicago_crime_df.District.fillna(most_fq_district)

In [18]:
chicago_crime_df.isna().sum()

ID                           0
Date                         0
Block                        0
Primary Type                 0
Description                  0
Location Description      2877
Arrest                       0
Domestic                     0
Beat                         0
District                     0
Ward                    184695
FBI Code                     0
Year                         0
Latitude                 23985
Longitude                23985
dtype: int64

- __Handling Missing values for the ward Column__

In [19]:
# Using the mode to fill up the most common Ward, then replace it with the current Ward column
most_fq_ward = chicago_crime_df.Ward.mode()[0] # indexing the mode to get the value as it returns a series
chicago_crime_df.Ward = chicago_crime_df.Ward.fillna(most_fq_ward)

In [20]:
chicago_crime_df.isna().sum()

ID                          0
Date                        0
Block                       0
Primary Type                0
Description                 0
Location Description     2877
Arrest                      0
Domestic                    0
Beat                        0
District                    0
Ward                        0
FBI Code                    0
Year                        0
Latitude                23985
Longitude               23985
dtype: int64

- __Handling Missing values for the latitude and Longitude Column__ (Using Assosciation) <br>
    - The assumption here is that the latitude and longitude readings are points that show exact location, are closer to eachother within a district. if they are, we can group our data by districts and fill up missing Latitide and longitude values by the median or mode.

In [21]:
chicago_crime_df.District.unique()

array([ 4., 17., 11., 12.,  2., 15., 25., 14.,  8.,  6., 19.,  1.,  7.,
       20., 18.,  3.,  9., 22.,  5., 16., 10., 24., 31.])

In [22]:
chicago_crime_df.groupby('District').get_group(17)[['Longitude', 'Latitude']]

         Longitude   Latitude
2       -87.734959  41.994138
39      -87.724435  41.969395
47      -87.702085  41.946649
61      -87.711568  41.949382
78      -87.711739  41.939300
...            ...        ...
2278640 -87.715225  41.959286
2278644 -87.713303  41.990332
2278646 -87.729347  41.958203
2278677 -87.711331  41.954833
2278696 -87.729037  41.966044

[65648 rows x 2 columns]

There appears to be closeness in Latitude points when data is grouped based on districts, we can group based on district and fill up with median or mode.

In [23]:
chicago_crime_df['Latitude'] = chicago_crime_df.groupby('District')['Latitude'].transform(lambda x: x.fillna(x.median()))
chicago_crime_df['Longitude'] = chicago_crime_df.groupby('District')['Longitude'].transform(lambda x: x.fillna(x.median()))

In [24]:
chicago_crime_df.isna().sum()

ID                         0
Date                       0
Block                      0
Primary Type               0
Description                0
Location Description    2877
Arrest                     0
Domestic                   0
Beat                       0
District                   0
Ward                       0
FBI Code                   0
Year                       0
Latitude                   0
Longitude                  0
dtype: int64

- __Handling Missing values for the Location Description__

In [25]:
missing_values_table(chicago_crime_df)

Your selected dataframe has 15 columns.
There are 1 columns that have missing values.

                      Missing Values  % of Total Values
Location Description            2877                0.1

We have just 2877 missing value for the location description which is 0.1% of the entire dataset. We can decide to drop the row where location decription is missing or fill this row with the most crime location.

In [26]:
# Using the mode to fill up the most common location, then replace it with the current Location description column
most_fq_loc = chicago_crime_df['Location Description'].mode()[0] # indexing the mode to get the value as it returns a series
chicago_crime_df['Location Description'] = chicago_crime_df['Location Description'].fillna(most_fq_loc)

In [27]:
# dropping the missing location description index row
chicago_crime_df.dropna(subset=['Location Description'],inplace=True)

In [28]:
chicago_crime_df.isna().sum()

ID                      0
Date                    0
Block                   0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
FBI Code                0
Year                    0
Latitude                0
Longitude               0
dtype: int64

# 4. Visualize Data Distribution

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Visualize the distribution of crime types
plt.figure(figsize=(12, 6))
sns.countplot(data=chicago_crime_df, x='Primary Type')
plt.xticks(rotation=90)
plt.title('Distribution of Crime Types')

# 5. Identify Outliers

# 6. Investigate Relationships

# 7. Investigate Crime Types

# 8. Examine Crime Locations

# 9. Identify Hotspots

# 10. Detect Seasonal Patterns

# 11. Compare Crime Rates

# 12. Summarize and Visualize Insights